<!--{{searchedCity | json}}-->
<div class="container">
    <div *ngIf="!error; else notFound" class="row">
        <div class="col-6">
            <h1>
                City: {{objWeather.name}}
            </h1>
            <p>
                Country: {{objWeather.country}}
            </p>
            <p>
                Region: {{objWeather.region}}
            </p>
        </div>
        <div class="col-6">
            <div class="data-background" [ngStyle]="{ 'background-image': 'url( https://www.weatherbit.io/static/img/icons/' + objWeather.weatherIcon + '.png)'}">
                <p>
                    {{objWeather.description}}
                </p>
                <h2>
                    Temperature: {{objWeather.temperature}}°C
                </h2>
                <p>
                    Feels like: {{objWeather.feelsLike}}°C
                </p>
                <p>
                    Wind speed: {{objWeather.windSpeed}}
                </p>
                <p>
                    Humidity: {{objWeather.humidity}}
                </p>
            </div>
        </div>
    </div>
    <ng-template class="row" #notFound>
        <div class="col">
            <app-not-found></app-not-found>
        </div>
    </ng-template>


</div>
