<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>
                City: {{objWeather.name}}
            </h1>
            <p>
                Country: {{objWeather.country}}
            </p>
            <p>
                Region: {{objWeather.region}}
            </p>
        </div>
        <div class="col-12">
            <ul>
                <li *ngFor="let day of objWeather.days">
                    <div [ngStyle]="{ 'background-image': 'url( https://www.weatherbit.io/static/img/icons/' + day.weatherIcon + '.png)'}">
                        <div>
                            <p>
                                Date: {{day.datetime}}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                Temperature: {{day.temperature}}°C
                            </p>
                        </div>
                        <div class="col">
                            <P>{{day.weatherDescription}}</P>
                        </div>
                        <div class="col">
                            <P>Humidity: {{day.humidity}}</P>
                        </div>
                        <div class="col">
                            <P>WindSpeed: {{day.windSpeed}}</P>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
