<div class="row justify-content-between">
    <div class="col-7">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Current">
                <app-current (historyList)="addInHistoryList($event)"></app-current>
            </mat-tab>
             <mat-tab label="5 days">
                 <app-days></app-days>
             </mat-tab>
<!--             <mat-tab label="10 days">-->
<!--                 <app-days></app-days>-->
<!--             </mat-tab>-->
        </mat-tab-group>
    </div>

    <div class="col-3">
        <app-history [historyList]="historyList"></app-history>
    </div>
</div>
