<div class="row justify-content-between">
    <div class="col-10">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Current">
                <app-days [numberOfDays]="1"></app-days>
            </mat-tab>
             <mat-tab label="5 days">
                 <app-days [numberOfDays]="5"></app-days>
             </mat-tab>
             <mat-tab label="10 days">
                 <app-days [numberOfDays]="10"></app-days>
             </mat-tab>
        </mat-tab-group>
    </div>

    <div class="col-2">
        <app-history></app-history>
    </div>
</div>
